.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.bio {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  transition: slidein 5s ease-in-out;
  color: greenyellow;
}

@keyframes slidein {
  from {
    opacity: 0;
    color: darkblue;
  }

  to {
    opacity: 1;
    color: green;
  }
}
